#logo {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: relative;
}

#app{
    height: 90%;
    max-width: 800px;
    margin: auto;
    padding: 0 0 0 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: auto;
}

#site {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input.funnyName {
    width: 22em;
}

.centered-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.btn-group {
    width: 100%;
}

.btn-with-margin {
    margin: 1em;
}

.copy-link {
    font-size: 130%;
}

.closableBox{
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before {
    content: "×";

}

.videoContainer {
    margin: 0 auto;
    width: 80%;
    max-width: 640px;
}

.overviewThumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.overviewThumbnail {
    width: 45%;
    margin: 1%;
}

@keyframes brokenConnectionOverlayFrames {
    from { opacity: 0.5;}
    to   { opacity: 1.0;}
}

.brokenConnectionOverlay {
    z-index: 1;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;

    animation-name: brokenConnectionOverlayFrames;
    animation-duration: 1.804s;
    animation-iteration-count: infinite;
}

.navbar-nav > li > a {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.navbar-nav {
 margin: 0;
 padding: 7.5px -15px;
}

.navbar-collapse{
 padding-left: 0;
 padding-right: 0;
}

.navbar-brand {
 margin: 0;
 padding: 0;
}

